/* This contains specific styling for my website, but you can edit it to fit your own */

#rss-feed {
  max-width: 260px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(217, 255, 0);
  margin: 0 auto;
  margin-top: 15px;
  background-color: rgba(0, 255, 191, 0.226);
  filter: drop-shadow(1px 1px rgba(152, 231, 26, 0.863));
  box-shadow: inset 0 0 15px var(--other-inset);
}

#rss-feed ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rss-feed li {
  margin-bottom: 8px; 
  padding-bottom: 4px; 
  border-bottom: 1px solid #ccc;
}

#rss-feed li:last-child {
  border-bottom: none;
}

#rss-feed strong {
  display: block;
  margin-bottom: 1px; 
}

#rss-feed small.rss-date {
  display: block;
  margin-top: 1px; 
  margin-bottom: 1px; 
}

#rss-feed a {
  display: block;
  margin-top: 3px;
}
